.bg-form{
    background: url('../../img/loginbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    background-position: bottom;
}
.bg-signupform{
    background: url('../../img/loginbg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    width: 100%;
    background-position: bottom;
}
.googlebtn{
    border: 1.3px solid #ccc;
    padding: 13px 25px;
    min-width: 290px;
    font-size: 16.5px;
    background: transparent;
    color: #5c6c75;
    font-weight: 540;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.googlebtn:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}